.answer {
  display: flex;
  vertical-align: top;
  height: auto;
  justify-content: center;
  flex-wrap: wrap;
}
.collapsible {
  padding: 10px;
  border-radius: 6px;
  text-decoration: none;
  background-color: #eb5e28;
  color: #edf2f4;
  width: 60%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
}
.active,
.collapsible:hover {
  background-color: #e89372;
}
.content {
  padding: 0;
  display: none;
  overflow: hidden;
  text-align: left;
}
