* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-size: 112.5%;
  font-family: 'Roboto', sans-serif;
  background: #a8c2f0;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

main {
  margin: 30px;
  overflow: scroll;
  flex: 1 0 auto;
  height: 100%;
}
