$purpleMain: #a8c2f0;
$purpleFooter: #86a5d9;
$purpleButton: #a387cf;
$colorDarkmode: radial-gradient(
  circle,
  rgba(134, 165, 217, 1) 47%,
  rgba(95, 75, 182, 1) 71%
);
$lightblueTags: #a8c2f065;
